# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.coverage

# Variables y secretos
.env
*.tfvars
!*.tfvars.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log

# Paquetes generados
*.zip
build/
dist/

# macOS
.DS_Store